:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color-main: #ffffff;
  --color-title: #212121;
  --color-secondary: #2f303a;
  --color-btn: #1d77c0;
  --color-logo: #000000;
  --color-subtext: #757575;
  --color-team: #f5f4fa;
  --color-icon: #c4c4c4;
  --section-pad: 94px;
  --border-header: #ececec;
  --border-icon: #afb1b8;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_list{
  display: flex;
}

